@charset "UTF-8";
html {
  font-size: 16px;
}
@media screen and (max-width: 1290px) {
  html {
    font-size: 1.2403100775vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 2.0860495437vw;
  }
}

img {
  width: 100%;
  display: block;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 2.5rem);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.lp1 h2 {
  border-top-color: transparent;
  border-top: none !important;
  font-family: "Noto Sans JP", sans-serif !important;
  background: transparent;
  padding: 0;
  border-bottom: none;
}
.lp1 h3 {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 0;
  font-family: "Noto Sans JP", sans-serif !important;
}
.lp1 h3::after {
  display: none;
}

.vk-mobile-nav-menu-btn {
  display: none !important;
}

.text-yellow {
  color: #fcee21 !important;
}

p {
  color: #fff;
  line-height: 2;
  font-size: 1.75rem;
}

.sp-wrapper {
  background-color: #000;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: #fcee21;
}

.header-inner {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.kv {
  position: relative;
  z-index: 1;
}

.kv__cta {
  position: relative;
  margin-top: 12.5rem;
}

.kv__cta-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 31%;
  width: 89.0625%;
}

.sec01 {
  position: relative;
  margin-top: -145px;
  padding-top: 145px;
}

.sec01__bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.sec01__text-01 {
  margin-top: 3rem;
}

.sec01__image-02 {
  margin-top: 5rem;
}

.sec01__image-03 {
  width: 67.1875%;
  margin-top: 4.5rem;
  margin-right: auto;
  margin-left: auto;
}

.sec01__image-04 {
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4.3125rem;
}

.sec01__image-05 {
  margin-top: 5.25rem;
  max-width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
}

.sec02 {
  position: relative;
}

.sec02__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.sec02__text-01 {
  margin-top: 5rem;
}