@use "../global" as *;
.text-yellow {
    color: $color-theme !important;
}
p {
    color: $color-white;
    line-height: 2;
    font-size: rem(28);
    font-family: "Hiragino Kaku Gothic StdN", "Hiragino Sans", "Helvetica Neue", Arial, sans-serif;
}
.sp-wrapper {
    background-color: $color-black;
    max-width: 750px;
    margin-right:auto;
    margin-left:auto;
    overflow-x: clip;
}
.header {
    background-color: $color-theme;
}
.header-inner {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-nav-item:nth-child(1) ,
.header-nav-item:nth-child(2) {
    max-width: rem(67.5);
}
.header-nav-item:nth-child(3) {
    max-width: rem(186.6);
}
.kv {
    position: relative;
    z-index: 1;
}
.kv__cta {
    position: relative;
    margin-top: rem(-200);
}
.kv__cta-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 31%;
    width: calc( 570 / 640 * 100%);
}

.sec01 {
    position: relative;
    margin-top: -145px;
    padding-top: 145px;
}
.sec01__bg-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}
.sec01__text-01 {
    margin-top: rem(48);
}
.sec01__image-02 {
    margin-top: rem(80);
}
.sec01__image-03 {
    width: calc(430 / 600 * 100%);
    margin-top: rem(72);
    margin-right:auto;
    margin-left:auto;
}
.sec01__image-04 {
    margin-right:auto;
    margin-left:auto;
    margin-top: rem(69);
}
.sec01__image-05 {
    margin-top: rem(84);
    margin-right:auto;
    margin-left:auto;
}

.sec02 {
    position: relative;
    z-index: 1;
    margin-top: rem(80);
}
.sec02__image-01 {
    width: 100%;
}
.sec02__text-01 {
    margin-top: rem(-60);
}
.sec02__image-02 {
    margin-top: rem(62);
}
.sec02__text-02 {
    margin-top: rem(52);
}
.sec02__image-03 {
    margin-top: rem(35);
}
.sec02__text-03 {
    margin-top: rem(38);
    font-size: rem(18);
    line-height: calc(21 / 18);
    text-align: center;
}
.sec02__image-04 {
    margin-top: rem(68);
}

.sec03 {
    margin-top: rem(55);
    padding-top: rem(50);
    position: relative;
    z-index: 1;
}
.sec03__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.sec03__image-01 {
    width: calc(472 / 600 * 100%);
    margin-right:auto;
    margin-left:auto;
}
.sec03__text-01 {
    margin-top: rem(53);
}
.sec03__contents {
    margin-top: rem(72);
}
.sec03__content-item:not(:first-child) {
    margin-top: rem(40);
}

.sec04 {
    position: relative;
    margin-top: rem(-20);
}
.sec04__title {
    position: relative;
}
.sec04__image-01 {
    position: absolute;
    width: calc(577 / 640 * 100%);
    left: 50%;
    transform: translateX(-50%);
    top: 28%;
}
.sec04__images-02 {
    position: relative;
    padding-top: rem(66);
}
.sec04__image-03-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.sec04__image-03 {
    width: calc(450 / 640 * 100%);
    margin-right:auto;
    margin-left:auto;
}
.sec04__image-04 {
    margin-top: rem(47);
}
.sec04__text-01 {
    margin-top: rem(45);
}
.sec04__image-05 {
    margin-top: rem(41);
}
.sec04__image-06 {
    margin-top: rem(52);
    width: calc(542 / 600 * 100%);
    margin-right:auto;
    margin-left:auto;
}

.sec05 {
    margin-top: rem(64);
}
.sec05__title {
    position: relative;
}
.sec05__image-01 {
    position: absolute;
    width: calc(607 / 640 * 100%);
    left: 0;
    top: rem(60);
}
.sec05__inner {
    margin-top: rem(-40);
}
.sec05__image-03 {
    margin-top: rem(27);
}

.sec06 {
    margin-top: rem(100);
}
.sec06__title {
    position: relative;
}
.sec06__image-01 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(20);
    width: calc(502 / 640 * 100%);
}
.sec06__inner {
    margin-top: rem(20);
}
.sec06__image-03 {
    margin-top: rem(64);
}

.sec07 {
    margin-top: rem(64);
}
.sec07__title {
    position: relative;
}
.sec07__image-01 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: calc(459 / 640 * 100%);
}
.sec07__image-02 {
    margin-top: rem(52);
    width: calc(724 / 600 * 100%);
    margin-left: calc(50% - (724 / 600 * 100% / 2));
}
.sec07__text-01 {
    margin-top: rem(47);
}
.sec07__movie {
    margin-top: rem(74);
}
.sec07__image-03 {
    margin-top: rem(89);
}
.sec07__image-04 {
    margin-top: rem(63);
}
.sec07__image-05 {
    margin-top: rem(56);
    width: calc(724 / 600 * 100%);
    margin-left: calc(50% - (724 / 600 * 100% / 2));
}
.sec07__text-02 {
    margin-top: rem(46);
}
.sec07__image-06 {
    margin-top: rem(58);
}
.sec07__image-07 {
    margin-top: rem(32);
}
.sec07__image-08 {
    margin-top: rem(48);
    width: calc(724 / 600 * 100%);
    margin-left: calc(50% - (724 / 600 * 100% / 2));
}
.sec07__text-03 {
    margin-top: rem(57);
}
.sec07__text-04 {
    margin-top: rem(42);
}
.sec07__image-09 {
    margin-top: rem(45);
}
.sec07__image-10 {
    margin-top: rem(49);
}
.sec07__image-11 {
    margin-top: rem(52);
    width: calc(724 / 600 * 100%);
    margin-left: calc(50% - (724 / 600 * 100% / 2));
}
.sec07__text-04 {
    margin-top: rem(54);
}
.sec07__image-12 {
    margin-top: rem(54);
}
.sec07__image-13 {
    margin-top: rem(25);
}
.sec07__image-14 {
    margin-top: rem(50);
    width: calc(724 / 600 * 100%);
    margin-left: calc(50% - (724 / 600 * 100% / 2));
}
.sec07__text-05 {
    margin-top: rem(54);
}
.sec07__image-15 {
    margin-top: rem(52);   
}
.sec07__cta {
    position: relative;
    margin-top: rem(100);
}
.sec07__cta-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12%;
    width: calc(569 / 640 * 100%);
}

.sec08__title {
    position: relative;
    padding: rem(40);
    z-index: 1;
}
.sec08__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.sec08__image-01 {
    width: calc(512 / 640 * 100%);
    margin-right:auto;
    margin-left:auto;
}
.sec08__movie {
    margin-top: rem(49);
}
.sec08__text-01 {
    margin-top: rem(42);
}
.sec08__image-02 {
    margin-top: rem(77);
}
.sec08__image-03 {
    margin-top: rem(30);
}
.sec08__image-04 {
    margin-top: rem(30);
}
.sec08__image-05 {
    margin-top: rem(30);
}

.sec09 {
    margin-top: rem(93);
}
.sec09__image-02 {
    margin-top: rem(77);
}
.sec09__image-03 {
    margin-top: rem(80);
}
.sec09__image-04 {
    margin-top: rem(89);
}
.sec09__image-cta {
    position: relative;
    width: calc(764 / 640 * 100%);
    margin-left: calc(50% - (764 / 640 * 100% / 2));
}
.sec09__image-cta-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    width: calc(527 / 764 * 100%);
}

.sec10 {
    margin-top: rem(82);
}
.sec10__image-01 {
    width: calc(486 / 640 * 100%);
    margin-right:auto;
    margin-left:auto;
}
.sec10__image-02 {
    margin-top: rem(59);
}
.sec10__text-01 {
    font-size: rem(18);
    line-height: calc(28 / 18);
    margin-top: rem(32);
}

.sec11 {
    margin-top: rem(77);
}
.sec11__contents {
    margin-top: rem(71);
}
.sec11__contents > *:not(:first-child) {
    margin-top: rem(27);
}

.sec12 {
    margin-top: rem(84);
}
.sec12__head {
    position: relative;
}
.sec12__head-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: calc(445.6 / 640 * 100%);
}
.sec12__image-01 {
    margin-top: rem(-40);
}

.footer {
    margin-top: rem(40);
}
.footer__head {
    margin-right:auto;
    margin-left:auto;
}
.footer__head--menu {
    max-width: rem(152.5);
}
.footer__head--sns {
    max-width: rem(112.5);
}
.footer__body {
    margin-top: rem(32.6);
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(384.9);
    justify-content: space-between;
    gap: 0 rem(10);
    margin-right:auto;
    margin-left:auto;
}
.footer__item {
    line-height: calc(60 / 28);
    font-size: rem(28);
    color: $color-white;
}
.footer__contents--sns {
    margin-top: rem(60);
}
.footer__sns-list {
    display: flex;
    max-width: rem(283);
    justify-content: space-between;
    margin-right:auto;
    margin-left:auto;
}
.footer__sns-item {
    width: calc((100% - rem(32) ) / 3 );
}
.footer__copyright {
    margin-top: rem(60);
    background-color: $color-theme;
    color: #000;
    text-align: center;
    padding: rem(12) rem(20);
    line-height: 1;
    font-size: rem(18);
}
.footer__copyright img {
    display: block;
    width: calc(218.5 / 640 * 100%);
    margin-right:auto;
    margin-left:auto;
}